@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

::-webkit-scrollbar {
  width: 0;
}

:root {
  --deep: #252525;
  --size: 75px;
  --accent: rgb(245, 117, 0);
  --dark: #3c3c3c;
  --smoke: rgba(255, 255, 255, 0.3);
}

html {
  scroll-timeline: --scrollProgress block;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Montserrat", serif;
  background-color: #eeeeee;
  font-size: 1rem;
}

section {
  padding: 2rem 0;
}

a {
  text-decoration: none;
}

.back-button {
  cursor: pointer;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: .5;
  font-size: 2rem;
  font-weight: bold;
  color: var(--deep);
  border: 2px solid rgba(255, 255, 255, 0);
  transition: opacity .2s ease-out, border .2s ease-out;
  z-index: 10;
}

.back-button:hover {
  opacity: 1;
  border: 2px solid var(--accent);
}


.top-line {
  background-color: var(--deep);
  color: #fff;
  position: fixed;
  width: 100vw;
  height: var(--size);
  top: 0;
  border-bottom: 1px solid var(--dark);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5em;
}

.logo__img-wrapper {
  width: var(--size);
  text-align: center;
}

.logo__images {
  width: 2.125rem;
}

.menu-button {
  cursor: pointer;
  font-family: "Montserrat", serif;
  height: var(--size);
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  transition: background 0.2s ease-out;
}

.menu-button:hover {
  background-color: var(--accent);
}

.top-line__decoration {
  width: 4%;
  border-top: 2px solid var(--smoke);
}

.top-line__contacts {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: var(--smoke);
  & a {
    margin-left: 10px;
    text-transform: none;
    color: var(--accent);
  }
}

.seporaitor {
  height: calc(var(--size)/2);
  border-left: 2px solid var(--smoke);
}

.home-aside {
  position: fixed;
  background-color: var(--dark);
  width: var(--size);
  height: 100vh;
  padding-top: var(--size);
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.home-aside::after {
  content: "";
  position: absolute;
  width: 10%;
  left: 0;
  top: var(--size);
  background-color: var(--accent);
  animation-name: scrollProgressLeft;
  animation-timing-function: linear;
  animation-timeline: --scrollProgress;
}

.home-aside__soc,
.home-aside__nav {
  margin-left: 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-aside__soc a {
  width: 100%;
  height: calc(var(--size)*0.5);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  transition: opacity 0.2s ease-out;
}

.home-aside__soc a:hover {
  opacity: 1;
}

.home-aside__nav a {
  display: flex;
  color: var(--dark);
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: calc(var(--size)*0.25);
  width: 100%;
  height: calc(var(--size)*0.5);
  background-color: #fff;
  opacity: 0.3;
  transition: width .2s ease-out, background .2s ease-out;
}

.home-aside__nav a span {
  overflow: hidden;
  color: #fff;
  user-select: none;
  pointer-events: none;
  width: 0;
}

.home-aside__nav a:hover {
  color: #fff;
  opacity: 1;
  background-color: var(--accent);
  width: 150px;
}

.home-aside__nav a:hover span {
  width: auto;
}

.wrapper {
  padding: 2rem;
}

.home-header__content {
  background-image: url(../images/bg.png);
  background-size: 100%;
  height: 45rem;
  padding: 2rem;
  padding-top: calc(var(--size) + 1.25rem);
  color: #252525;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--smoke);
}

.content__info h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
}

.home-header__nav {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.home-header__nav a {
  color: #fff;
  text-align: center;
  line-height: 3rem;
  border-radius: 1rem;
  width: 90%;
  background-color: var(--deep);
  opacity: 0.8;
  text-transform: uppercase;
  transition: background .2s ease-out;
}

.home-header__nav a:hover {
  background-color: var(--accent);
}

.content__info .accent {
  color: var(--accent);
}

.content__img {
  height: 27rem;
  width: 24rem;
  background-color: var(--deep);
  border-radius: 25% 25% 50% 50%;
  background-image: url(../images/anonym.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  opacity: .8;
  transition: background .6s cubic-bezier(0.75, -1.6, 0.3, 2.6);
}

.content__img:hover {
  background-size: 110%;
}


/* review */

.container {
  display: flex;
  align-items: end;
  gap: 10%;
  color: var(--deep);
  margin-bottom: 6rem;
}

.section {
  padding: 6rem 0 1rem 0;
  text-transform: uppercase;
  color: var(--accent);
}

.about-otziv {
  width: 35%;
}

.star-bar {
  display: flex;
  gap: 0.625rem;
}

.star-bar img {
  width: 2rem;
}

.about-otziv p {
  font-size: 1rem;
  margin-top: 1.25rem;
}

.otziv {
  margin: 1.5rem 0;
}

.add-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about-info h2 {
  font-size: 2rem;
}

.quantity-info {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  margin-top: 3rem;
}

.quantity {
  font-size: 3.5rem;
  color: var(--accent);
}

.label {
  font-size: 1.25rem;
}

.logobar {
  margin-top: 1rem;
  text-align: center;
}

/* info skills */

.my-story {
  width: 40%;
}

#info h2 {
  margin-bottom: 1rem;
}

.my-skils {
  width: 50%;
  min-width: 220px;
  position: relative;
}

.skill-text {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0.2rem 0;
}

.indicator {
  background-color: var(--accent);
  height: 3px;
}

.indicator::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: lightgray;
  z-index: -1;
}

.html {width: 90%;}
.js {width: 51%;}
.python {width: 71%;}
.c {width: 48%;}



/* process */

#process {
  background-color: rgba(62, 62, 62, .7);
}

#process .container {
  color: #fff;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.25rem;
}

#process h2 {
  font-size: 3rem;
  font-weight: 400;
}

#process h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem 0;
}

#process button {
  background-color: #fff;
  color: var(--dark);
  height: 3rem;
  font-size: 20px;
  border-radius: 1rem;
  width: 12rem;
  cursor: pointer;
  transition: background .2s ease-out;
}


/* contacts footer */

.home-footer {
  background-color: var(--dark);
  padding-bottom: 2rem;
}

#contacts {
  margin-bottom: 0;
  padding-bottom: 0;
}

.home-footer .container {
  color: #fff;
}

.home-footer .contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-footer .label h2,
.home-footer .label p {
  margin-bottom: 1rem;
}

.home-footer .contacts a {
  color: rgb(245, 117, 0);
}

.soc-list {
  display: flex;
  gap: 1rem;
}

.soc-list .soc {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}


.wrapper {
  padding-left: calc(var(--size) + 2rem);
  padding-right: calc(var(--size));
}



@keyframes scrollProgressLeft {
  from {
    height: 0;
  }
  to {
    height: calc(100% - var(--size));
  }
}

@keyframes scrollProgressTop {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


/* ------------------Slaider----------------------- */

#myProjects {
  display: flex;
  position: fixed;
  height: 0;
  width: calc(100vw - var(--size));
  top: calc(var(--size) * 0.5);
  left: var(--size);
  backdrop-filter: blur(20px);
  z-index: 5;
  padding: 0 2rem;
  transition: .5s;
}

.secret {
  display: none;
}

.scroll-bar  {
  overflow-y: scroll; 
  width: 25%;
  height: 100%;
}

.second_col,
.fourth_col {
  transform: rotate(180deg);
}

.second_col .scroll-list,
.fourth_col .scroll-list {
  transform: rotate(180deg);
}

.scroll-list {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
  padding: 4rem 0;
}

.scroll-item {
  overflow: hidden;
  width: 20vw;
  height: 25vw;
  transition: scale 0.2s ease-out, box-shadow 0.2s ease-out;
}

.scroll-item img {
  width: 100%;
}

.scroll-item:hover {
  scale: 1.04;
  box-shadow: var(--accent) 0 0 10px 5px;
}



/* --------Slider-END----------------- */



@media (max-width: 1200px) {
  body {
    --size: 65px;
  }

  .top-line__decoration {
    display: none;
  }

  #process .item1 {
    grid-column: 1 / 4;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 80%;
  }
  
  body {
    --size: 60px;
  }

  .logo,
  .menu-button {
    width: 160px;
  }

  .content__img {
    height: 20rem;
    width: 17rem;
  }

}

@media  (max-width: 768px) {
  .pretext,
  .top-line__decoration,
  .seporaitor,
  .home-aside,
  .content__img {
    display: none;
  }

  .wrapper {
    padding-left: 2rem;
  }

  .top-line__contacts {
    flex-direction: column;
    gap: 0;
  }

  .top-line::after {
    content: "";
    position: absolute;
    height: 10%;
    top: var(--size);
    background-color: var(--accent);
    animation-name: scrollProgressTop;
    animation-timing-function: linear;
    animation-timeline: --scrollProgress;
  }

  .home-header__content {
    height: 30rem;
  }

  #process .container {
    grid-template-columns: repeat(2, 1fr);
  }

  #process .item1 {
    grid-column: 1 / 3;
  }

  #myProjects {
    left: 0;
    width: 100vw;
  }

  .third_col,
  .fourth_col {
    display: none;
  }

  .scroll-bar {
    width: 50%;
  }

  .scroll-list {
    gap: 8vw;
  }

  .scroll-item {
    width: 36vw;
    height: 45vw;
  }

  .secret {
    display: block;
  }

}

@media  (max-width: 576px) {
  body {
    --size: 50px;
  }

  .top-line__contacts {
    display: none;
  }

  .logo,
  .menu-button {
    width: 120px;
    letter-spacing: 0.2rem;
  }

  .home-header__content {
    height: 25rem;
  }

  .content__info h1 {
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .container>div,
  .my-story {
    width: 100%;
  }

  .my-story {
    margin-bottom: 2rem;
  }

  .about-otziv article {
    display: flex;
    gap: 10%;
    margin-bottom: 2rem;
  }
  
  .add-info.otziv {
    width: 40%;
    flex-wrap: wrap;
  }

  .otziv-container {
    width: 50%;
  }

  #process h2 {
    font-size: 2.5rem;
  }

  #process h3 {
    font-size: 1.5rem;
  }

  #process p {
    font-size: 1rem;
  }

  #process button {
    font-size: 1rem;
  }

}


@media  (max-height: 576px) {
  .home-aside__soc {
    display: none;
  }
}
